@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #ffffff;
    --indigo: #5143ca;
    --ultramarine: #0e0789;
    --lightpurple: #e5d2fb;
    --orchid: #de565d;
    --magenta: #8b09a0;
    --blurple: #b1abf3;
    --lightpink: #ef9de9;
    --perfume: #dbd0fb;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-indigo: var(--indigo);
    --color-ultramarine: var(--ultramarine);
    --color-lightpurple: var(--lightpurple);
    --color-orchid: var(--orchid);
    --color-magenta: var(--magenta);
    --color-blurple: var(--blurple);
    --color-lightpink: var(--lightpink);
    --color-perfume: var(--perfume);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    }

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Pixelify Sans", sans-serif;;
}

select {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 2px;
    width: 150px;
    color: var(--indigo);
    border: 2px solid var(--foreground);
    transform: translateX(5px);
}

input {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border: 2px solid var(--foreground);
    color: var(--indigo);
    transform: translateY(3px);
}

label {
    color: var(--indigo);
    font-family: "Pixelify Sans", sans-serif;;
    transform: translateY(-10px);
}

.pixel-border1 {
    border: 15px solid transparent;
    border-image: url('/workout4u/images/border.png') 20;
    clip-path: polygon(
        0 8px, 8px 8px, 8px 0, 
        calc(100% - 8px) 0, calc(100% - 8px) 8px, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) calc(100% - 8px), calc(100% - 8px) 100%,
        8px 100%, 8px calc(100% - 8px), 0 calc(100% - 8px)
    );
}

.pixel-border2 {
    border: 10px solid transparent;
    border-image: url('/workout4u/svgs/background.svg') 5;
}

.input-sizing {
    @apply text-[1.9vh] rounded-lg focus:ring-indigo focus:outline-none focus:ring-2;
}

@media (min-width: 768px) {
    .input-sizing {
        font-size: 2.5vh;
    }
}